@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'comfortaa';
  font-weight: 400;
}
::-webkit-scrollbar-track {border-radius: 5px;}

::-webkit-scrollbar {width: 3px;background: #000;}

::-webkit-scrollbar-thumb {border-radius: 4px;background: rgb(206, 206, 206);}
/* container */
.container{
  /* max-width: 1140px; */
  width: 86%;
  margin: 0 auto;
  /* padding: 0 15px; */
}
/* wrapp */
.wrapp{
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #ffffff;
}
/* banner */
.banner{
  width: 100%;
  min-height: 50px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  /* padding: 20px 15px; */
}
.logo a{
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.video{
  min-height: 1vh;
  width: 100%;
  background: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
video{
  width: 100%;
  /* height: 70vh; */
}
.blocks{
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}
.block{
  width: 33%;
  height: 18vh;
  /* border: 1px solid red; */
  /* margin: 10px 0; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
.block .price_100{
  position: absolute;
  bottom: 0;
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 700;
  color: #00AA07;
   /* background: #fff;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.block .price_200{
  position: absolute;
  bottom: 0;
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 700;
  color: #AA8F00;
    /* background: #fff;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.block .price_400{
  position: absolute;
  bottom: 0;
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 700;
  color: #AA0000;
    /* background: #fff;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.block h3{
  position: absolute;
  top: 5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0; */
}
.block img{
  width: 100%;
  filter: brightness(35%);
  object-fit: cover;
  /* height: 150%; */
}
.suport img{
  width: 100%;
}
.suport{
  display: flex;
  align-items: center;
  margin-bottom: -5px;
}
.suport .title{
  width: 100%;
  /* height: 65%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: transparent;
  text-align: start;
  margin: 0 auto;
}
.suport .title h2{
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'roboto';
  margin-bottom: 5px;
}
.video .title{
  width: 100%;
  /* height: 65%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: transparent;
  text-align: center;
}
.title h1{
  font-size: 50px;
  font-weight: 700;
  font-family: 'roboto';
}
.desc{
  background: #fff;
  width: 100%;
}
.desc p{
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 700;
  color: #000;
  background: #fff;
}
.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a{
  color: #fff;
}
.footer-info{
  width: 70%;
  display: flex;
  justify-content: space-around;
}
/*  */
.button {
  /* position: fixed; */
  /* bottom: 0;
  left: 0; */
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.addCart {
  padding: 10px 20px;
  color: #000;
  background: #fff;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.receipt {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
.receipt.active .receipt__window{
  width: 30%;
  min-height: 50%;
  background: #fff;
  color: #000;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  top: -100%;
  position: absolute;
}
.receipt__window-out {
  flex-grow: 1;
  align-self: stretch;
  padding: 15px;
  white-space: pre-wrap;
}
.receipt__window-btn {
  padding:10px 15px;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
}
.receipt__window-title {
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}



@media (max-width: 992px){
  .receipt.active .receipt__window{
    width: 86%;
  }
}
@media (max-width: 768px){
   video{
    width: calc(200% + 210.49107vw);
    height: calc(131.42857px + 110.49107vw);
    min-height: 100%;
  }
}
@media (max-width: 576px){
  .footer-info{
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  .footer a{
    /* margin: 5px 0; */
    font-size: 18px;
  }
  .blocks{
    flex-direction: column;
    align-items: center;
    /* padding-top: 25px;
    padding-bottom: 35px; */
  }
  .block{
    width: 100%;
    /* margin-bottom: 10px; */
  }
  .footer .container{
    padding-top: 5px;
    display: flex;
    /* flex-direction: column; */
  }
}
@media (max-width: 480px){
  .desc p{
    font-size: 12px;
  }
  .suport .title h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    font-family: 'roboto';
    margin-bottom: 5px;
  }
  .suport .title p{
    font-size: 12px;
    line-height: 16px;
  }
}
