@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'comfortaa';
  font-weight: 400;
}
::-webkit-scrollbar-track {border-radius: 5px;}

::-webkit-scrollbar {width: 3px;background: #000;}

::-webkit-scrollbar-thumb {border-radius: 4px;background: rgb(206, 206, 206);}
/* container */
.container{
  /* max-width: 1140px; */
  width: 86%;
  margin: 0 auto;
  /* padding: 0 15px; */
}
/* wrapp */
.wrapp{
  margin-top: 40px;
  width: 100%;
  min-height: 100vh;
  background: rgb(31, 31, 31);
  color: #ffffff;
  overflow: hidden;
}
/* banner */
.banner{
  width: 100%;
  min-height: 40px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  /* padding: 20px 15px; */
}
.nav{
  position: fixed;
  top: 0;
  z-index: 15;
}
.logo a{
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.video{
  min-height: 1vh;
  width: 100%;
  background: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
video{
  width: 100%;
  /* height: 70vh; */
}
.blocks{
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}
.block{
  width: 33.3333%;
  height: 22vh;
  /* border: 1px solid red; */
  /* margin: 10px 0; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
.block .price_100{
  position: absolute;
  bottom: 0;
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 700;
  color: #00AA07;
   /* background: #fff;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.block .price_200{
  position: absolute;
  bottom: 0;
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 700;
  color: #AA8F00;
    /* background: #fff;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.block .price_400{
  position: absolute;
  bottom: 0;
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 700;
  color: #AA0000;
    /* background: #fff;
  width: 100%;
  display: flex;
  justify-content: center; */
}
.block h3{
  position: absolute;
  top: 5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.block_p{
  display: none;
  text-align: left;
  transition: 5s;
}
.block:hover .block_p{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  font-size: 12px;
  height: 100%;
  width: 86%;
  font-weight: 300;
  font-family: 'montserrat';
  text-align: center;
  animation-name: blo;
  animation-duration: 0.5s;
}
.block img{
  width: 100%;
  filter: brightness(35%);
  object-fit: inherit;
  /* height: 150%; */
}
.block:hover img{
  filter: brightness(70%);
  transition: filter 0.5s;
  object-fit: cover;
}
.domen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.domen_bg{
  width: 100%;
}
.domen h3{
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 0 15px;
}
.domen p{
  position: absolute;
  top: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'roboto';
  font-weight: 300;
  color: #000;
  padding: 0 15px;
}
.website_domen{
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 40%;
  height: 80%;
  z-index: 2;
  color: #000;
}
.suport img{
  width: 100%;
}
.suport{
  display: flex;
  align-items: center;
  margin-bottom: -5px;
}
.suport .title{
  width: 100%;
  /* height: 65%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: transparent;
  text-align: start;
  margin: 0 auto;
}
.suport .title h2{
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'roboto';
  margin-bottom: 5px;
}
.suport .title p{
  margin-bottom: 10px;
}
.video .title{
  width: 100%;
  /* height: 65%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: transparent;
  text-align: center;
}
.title h1{
  font-size: 50px;
  font-weight: 700;
  font-family: 'roboto';
}
.desc{
  background: #fff;
  width: 100%;
}
.desc p{
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 700;
  color: #000;
  background: #fff;
}
.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a{
  color: #fff;
}
.footer-info{
  width: 70%;
  display: flex;
  justify-content: space-around;
}
/*  */
.form,
form{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button {
  position: absolute;
  z-index: 5;
  /* width: 100%; */
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.addCart,
.suport_btn {
  padding: 10px 80px;
  color: #fff;
  background: transparent;
  font-size: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}
.addCart:hover,
.suport_btn:hover {
  color: #000;
  background: #fff;
  transition: background-color .5s;
}
.receipt {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
.receipt.active .receipt__window{
  width: 30%;
  min-height: 50%;
  background: #fff;
  color: #000;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  top: -100%;
  position: absolute;
}
.receipt__window-out {
  flex-grow: 1;
  align-self: stretch;
  text-align: left;
  padding: 15px;
  white-space: pre-wrap;
}
.receipt__window-btn {
  padding:10px 15px;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
}
.receipt__window-title {
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}
.video .title p{
  font-size: 15px;
}
@media (max-width: 992px){
  .receipt.active .receipt__window{
    width: 86%;
  }
}
@media (max-width: 768px){
  video{
    width: calc(200% + 210.49107vw);
    height: calc(131.42857px + 110.49107vw);
    min-height: 100%;
  }
  .domen {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .domen_bg{
    height: calc(40.42857px + 110.49107vw);
  }
  .suport{
    min-height: 100%;
  }
  .suport img{
    height: calc(40.42857px + 110.49107vw);
  }
  .domen p{
    height: 40%;
  }
  .website_domen{
    left: 5%;
    bottom: 10%;
    height: 60%;
    width: 90%;
  }
  .suport img{
    width: 200%;
  }
}
@media (max-width: 576px){
  .footer-info{
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  .footer a{
    font-size: 18px;
  }
  .blocks{
    flex-direction: column;
    align-items: center;
  }
  .block{
    width: 100%;
  }
  .footer .container{
    padding-top: 5px;
    display: flex;
  }
}
@media (max-width: 480px){
  .desc p{
    font-size: 9px;
  }
  .suport .title h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'roboto';
    margin-bottom: 5px;
  }
  .suport .title p{
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 385px){
  .domen p {
    font-size: 12px;
  };
}
@keyframes blo{
  0%{
    width: 100%;
  }
  100%{
    width: 86%;
  }
}
